body{
	background: #dcdde2;
}


.sidebar{
	margin: 10px;
	min-height: 500px;
	background-color:#ffffff;
	text-align: left; 
	
}

.imgcontainer{
	margin: 10px;
	min-height: 300px;
	background-color:#fc5d5d;
	text-align: center; 	
	font-size: large;
}


			

.jags{
	margin: 10px;
	text-align: left;
	min-height: 300px;
	background: #ffffff;
	padding-top: 40px;

}

.thumbnailone{
	
	text-align: center;
	min-height: 240px;
	background: #ffffff;
	margin-left: 30px;
	margin-top: 30px;
}

.searchbar{
	
	min-height: 50px;
	 background: #ffffff; 
	 text-align: center;
	 padding-top: 10px;
	 color: black;
}
