.sidebarcontent{
	margin-bottom: 10px;
	min-height:  80px;
	background-color: red;
	text-align: center;
}
.maincontaint{
	margin-bottom: 10px;
	min-height:  80px;
	background-color: red;
	text-align: center;
}
